In [32]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [33]:
## Load the model
model = load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)
with open('onehot_encoder_geography.pkl','rb') as file:
    onehot_encoder_geography = pickle.load(file)
with open('Scaler.pkl','rb') as file:
    Scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [34]:
input_data={
    'CreditScore':600,
    'Geography':"France",
    'Gender' :'Male',
    'Age':40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [35]:
input_data = pd.DataFrame([input_data])

In [36]:
geo_encoded = onehot_encoder_geography.transform([input_data['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\vinay\OneDrive\Desktop\Udemy KrisNaik GenAI\ANN_new\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [37]:
input_data = pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
input_data

   CreditScore Geography  ... Geography_Germany  Geography_Spain
0          600    France  ...               0.0              0.0

[1 rows x 13 columns]

In [38]:
## Enocde Categorical Values

input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])

In [39]:
input_df = input_data.drop('Geography',axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [40]:
# Scaling the data
scaled_df = Scaler.transform(input_df)

In [41]:
prediction = model.predict(scaled_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step

array([[0.04146788]], dtype=float32)

In [42]:
pred_prob = prediction[0][0]
if  pred_prob > .5:
    print("Customer is likely to churn")
else:
    print("Customer will not churn")

Customer will not churn